<!DOCTYPE html>
 {%load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="CodeHim">
      <title> Login Page</title>
      <!-- Style CSS -->
       <link rel="stylesheet" type="text/css" href="{%static 'style/style.css' %}" />
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
       <link rel="preconnect" href="https://fonts.gstatic.com">
       <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600;1,700&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="ststic/style/style.css">
      <!-- Demo CSS (No need to include it into your project) -->
      <link rel="stylesheet" href="./css/demo.css">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
   </head>
   <body>
      <!--$%adsense%$-->
      <main class="cd__main">
         <!-- Start DEMO HTML (Use the following code into your project)-->
         <div class="container">
         </div>
  <div class="row content">
  </div>
       <div class="col-md-6 mb-3">
    <nav class="nav">
        </nav>
            <div class="navigation container">
            <div class="logo">
              <img src="../../static/image/123.jpg" class="hero-img" alt="" width="950" height="450" />
            </div>
               
    <div class="col-md-6">
      <h3 class="signin-text mb-3"> Sign In</h3>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox">
          <label class="form-check-label" for="checkbox">Remember Me</label>
        </div>
        <button class="btn btn-class">Login</button>
      </form>
    </div>
  </div>
</div>
         <!-- END EDMO HTML (Happy Coding!)-->
      </main>
      <footer class="cd__credit">Author: Coding League - Distributed By: <a title="Free web design code & scripts" href="https://www.codehim.com?source=demo-page" target="_blank">CodeHim</a></footer>
      
      <!-- Script JS -->
      <script src="./js/script.js"></script>
       
      <!--$%analytics%$-->
   </body>
</html>